* {
    margin: 0;
  }
  #container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    color: #fff;
    background: #2d2d2d;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
  }